@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: fonte;
    src: url(fontes/idroid.otf) format(opentype);
}
body{
    background-color: #84E1AD;
}
header{
    background-image: linear-gradient(to bottom, #3BD47F, #1A5C38);
    min-height: 150px;
    text-align: center;
    padding-top: 18px;

}
header h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    padding: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
}
header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    max-width: 490px;
    margin: auto;
    font-weight: normal;
    padding-bottom: 14px;

}
nav{
    position: sticky;
    top: 0px;
    background-color: #1A5C38;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.281);
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    padding: 6px;
    border-radius: 5px;
}
nav a:hover{
    background-color:rgb(86, 224, 86);
    transition-duration: 0.7s;
    padding: 6px;
    color: rgb(26, 105, 26);
    text-decoration: none;
}
main{
    background-color: white;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    text-indent: 14px;
    border-radius: 0px 0px 20px 20px;
}
main h1{
    font-family: fonte, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #195A36;
    font-size: 2em;
    padding: 5px 14px;
}
main h2{
    font-family: fonte, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #195A36;
    padding: 5px 14px;
    font-size: 1.6em;
}
main p{
    line-height: 1.5em;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10px 14px;
}
picture img{
    display: block; 
    margin: auto;
    max-width: 100%;
}
img{
    display: block;
    margin: auto;
    max-width: 324px;
}
div.video{
    background-color: #195A36;
    margin-bottom: 20px;
    margin: 0px -0px 30px -0px;
    padding: 20px;
    padding-bottom: 40%;
    position: relative;
    
    
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

aside{
    max-width: 900px;
    margin: 20px 30px 8px 30px;
    background-color: #84E1AD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);

}
aside h3{
    background-color: #2FA866;
    color: white;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
    
}
.ultimot{
    padding: 20px;
    text-align: center;
}
ul{
    list-style: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    padding: 10px;
}
a{
    color: #2FA866;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

.destaque{
    background-image: linear-gradient(to right, rgb(137, 245, 137), transparent);
}
.footer {
  background-image: linear-gradient(to bottom, #84E1AD,#07351c);
  color: #e5e7eb;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin-bottom: 10px;
  font-size: 14px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.589);
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s;
  text-decoration: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.61);
}

.social-icons a:hover {
  transform: scale(1.2);
  
}

.social-icons a:hover .fa-instagram {
    transition: 0.7s;
    color: #d81616;
}

.social-icons a:hover .fa-github {
    transition: 0.7s;
  color: #000000;
}




