@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    bacl
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding: 10px;
    font-size: 3em;
    font-family: passion one;
}
header > p{
    padding: 10px;
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
main{

    font-family: sriracha;
    padding: 10px;
    line-height: 1.5em;
    text-align: justify;
    width: 300px;
}
section{
    background-color: white;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}
