@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    bacl
}
header{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}
header > h1{
    padding: 10px;
    font-size: 3em;
    font-family: passion one;
}
header > p{
    padding: 10px;
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
main{

    font-family: sriracha;
    padding: 10px;
    line-height: 1.5em;
    text-align: justify;
    width: 300px;
}

article{
    background-color: whitesmoke;
    
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}
